<link rel="stylesheet" href="stylesheets/login.css">

<body class="login-body">
  

<div class="page">
   <div class="left">
      <h5><a href="#">Forgot Password?</a> or <a href="/signup">Signup</a></h5>
   </div>

   <div class="right">
      <form action="/login" method="post">
         <input type="text" name="username" placeholder="Username">
         <input type="password" name="password" placeholder="Password">
         <button type="submit">Login</button>
      </form>
   </div>
</div>

</body>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}