<link rel="stylesheet" href="stylesheets/login.css">

<body class="login-body">

<div class="page">
   <div class="left">
      <h1>Signup</h1>
      <h5>Already have an account?<a href="/login">Login</a></h5>
   </div>

   <div class="right">
      {{#if errorMessage}}
        <h4>{{errorMessage}}</h4>
      {{/if}}
      <form action="/signup" method="post">
         <input type="text" name="username" placeholder="Username" required>

         <input type="password" name="password" placeholder="Password" required>

         <label> 
            <input type="text" name="handlename" placeholder="Name">
         </label>

         <button type="submit">Signup</button>
      </form>
   </div>
</div>

</body>