
<body class="trivia-body">
    <div class="trivia-container">
        {{#each trivias}}
            <a href="/trivia/difficulty/{{difficulty}}/{{_id}}">{{name}}</a>
        {{/each}}
    </div>
</body>
</body>