
<body class="difficulty-body">
  
<div class="difficulty-container">
    <form action="/trivia/difficulty/easy">
        <button type="submit" class="easy">Easy</button>
    </form>

    <form action="/trivia/difficulty/medium">
        <button type="submit" class="medium">Medium</button>
    </form>

    <form action="/trivia/difficulty/hard">
        <button type="submit" class="hard">Hard</button>
    </form>
</div>
</body>