<body class="score-body">
    <div class="container-container">
        <div class="score-link-container">
            <a href="/"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
        <div class="score-container">
            <h1>You got a {{percentage}}% NICE!</h1>
        </div> 
    </div>
</body>
