<h1>{{title}} 🚀</h1>


<h1>JSON data</h1>

<div class="test-container">

    {{#each recentTest.questions}}

        <div class="question-container">
            <h2>{{category}}</h2>
            <h2>{{question}}</h2>
            <div class="choices-container">
                {{#each choices}}
                <input type="radio" class="option">{{this}}</input>
                {{/each}}
            </div>
        </div>

    {{/each}}


</div>