<link rel="stylesheet" href="/stylesheets/profile.css">

<body class="profile-body">
    
<div class="profile-container">
    <div class="settings-container">
        <a href="/profile/{{_id}}/edit"><i class="fa-solid fa-gear"></i></a> <br>
    </div>
    
    <div class="center-container">
        <h1>@{{handlename}}</h1>
    </div>


    <div class="logout-container">
        <a href="/">Home</a>
        <a href="/profile/{{_id}}/trivias">See your Trivias</a> <br>
        <a href="/trivia">Take Trivias</a> <br>
        <a href="/logout">Logout</a>
    </div>
</div>

</body>