<h1>@{{handlename}}</h1>

<a href="/profile/{{_id}}/edit"><i class="fa-solid fa-gear"></i></a> <br>

<a href="/trivia">Take Trivias</a> <br>

<a href="/profile/{{_id}}/trivias">See your Trivias</a> <br>


<a href="/logout">Logout</a>

<style>
    .fa-gear {
        color: black;
    }
    .fa-gear:hover {
        color: gray;
    }

</style>