{{#each user.tests}}
    <ul>
        <h2>{{trivia.name}}</h2>
        <li>{{trivia.difficulty}}</li>
        <p>{{score}}</p>
    </ul>
{{/each}}

<style>
    li {
        font-size: 32px;
    }
    p {
        font-size: 28px;
    }
</style>